.customBox {
     text-align: center;
     padding: 10px;
     border: 2px outset green;
     background-color: white;
 }

.loginBox {
    text-align: center;
    height: 350px;
    width: 225px;
    padding: 10px;
    border: 2px outset green;
    background-color: white;
}