.customBox {
     text-align: center;
     padding: 10px;
     border: 2px outset green;
     background-color: white;
 }

.loginBox {
    width: 35%;
    text-align: center;
    margin-left: 35%;
    padding: 10px;
    border: 2px outset green;
    background-color: white;
}